<%= simple_form_for(@movie) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :movie_img %>
    <%= f.input :title, label: "Movie Title" %>
    <%= f.input :description %>
    <%= f.input :director %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
